@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.about-us-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;

    .about-us-content {
        flex: 1;
        padding: 25px 20px;
        overflow-y: auto;

        .company-name {
            font-size: 20px;
            font-weight: 700;
            color: $black;
            margin-bottom: 25px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: #222;
            margin-bottom: 20px;
        }
    }

    @media (min-width: 768px) {
        max-width: 600px;
        margin: 20px auto;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        height: min-content;
        min-height: 500px;
    }
}