body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* MAIN */
.auth-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../../assets/bg.jpg") center center / cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* LOGO */
.logo {
  width: 220px;
  /* mobile size */
  margin-top: 80px;
}

/* TABLET */
@media (min-width: 768px) {
  .logo {
    width: 300px;
  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  .logo {
    width: 260px;
  }
}


/* BOTTOM */
.bottom {
  width: 90%;
  max-width: 420px;
  margin-bottom: 60px;
}

/* BUTTONS */
button {
  width: 100%;
  height: 58px;
  /* fixed height */
  border-radius: 0;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
  cursor: pointer;

  display: flex;
  align-items: center;
  /* vertical center */
  justify-content: center;
  /* center base */
  position: relative;
}

/* ICON LEFT */
button img {
  position: absolute;
  left: 18px;
  width: 24px;
  height: 24px;
}

button span {
  margin-left: 52px;
  /* thodu right */
}


/* TEXT CENTER */
button span {
  display: block;
  text-align: center;
}

/* GOOGLE */
.google {
  background: #e14b3b;
  color: white;
}

/* FACEBOOK */
.facebook {
  background: #3b5998;
  color: white;
}

/* SIGN BUTTON */
.row {
  display: flex;
  gap: 12px;
}

.outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}

/* TERMS */
.terms {
  color: white;
  font-size: 15px;
  margin-top: 18px;
  line-height: 1.6;
  text-align: center;
}

.link {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

/* LOGIN */
.center {
  justify-content: center;
}

.login-box {
  background: rgba(0, 0, 0, 0.65);
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  color: white;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
}

.switch {
  display: flex;
  margin-bottom: 15px;
}

.switch button {
  flex: 1;
  padding: 10px;
  border: none;
}

.switch .active {
  background: orange;
  color: white;
}