// Colors
$primary-color: #e14b3b;
$secondary-color: #3b5998;
$accent-color: orange;
$white: #ffffff;
$black: #000000;
$background-overlay: rgba(0, 0, 0, 0.65);

// Typography
$font-family-base: 'Inter', sans-serif;
$font-size-base: 16px;
$font-size-large: 18px;
$font-weight-bold: 600;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
