@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// Global resets & base styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-base;
    background-color: $white;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

// Global elements
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    transition: all 0.3s ease;
}

img {
    max-width: 100%;
    display: block;
}

input,
select,
textarea {
    font-family: inherit;
}