@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.privacy-policy-container {
    background-color: $white;
    min-height: 100vh;

    .privacy-content {
        padding: 20px;
        color: #333;
        line-height: 1.5;

        h2 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            margin-top: 25px;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            margin-bottom: 15px;
            font-weight: 500;
        }

        .stars {
            margin: 20px 0;
            font-weight: bold;
        }

        ul {
            padding-left: 20px;
            margin-bottom: 15px;
            list-style: disc;

            li {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
}