@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.menu-item {
    display: flex;
    align-items: center;
    padding: 22px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: #fafafa;
    }

    .menu-icon {
        color: $accent-color;
        font-size: 20px;
        width: 40px;
        @include flex-center;
    }

    .menu-label {
        flex: 1;
        font-size: 16px;
        color: #333;
        font-weight: 400;
    }
}