@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.terms-conditions-container {
    background-color: $white;
    min-height: 100vh;

    .terms-content {
        padding: 20px;
        color: $black;
        line-height: 1.4;
        max-width: 800px;
        margin: 0 auto;

        h2 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
            color: $black;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            margin-top: 25px;
            margin-bottom: 10px;
            color: $black;
        }

        p {
            font-size: 15px;
            margin-bottom: 15px;
            font-weight: 500;
            text-align: justify;
        }

        @media (max-width: 768px) {
            padding: 15px;
            max-width: 100%;

            p {
                font-size: 14px;
                text-align: left;
            }
        }
    }
}