@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.requests-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;

    .requests-header {
        @include flex-center;
        padding: 15px 20px;
        background-color: $white;
        position: relative;
        border-bottom: 1px solid #eee;

        h1 {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            color: #333;
        }

        .notification-icon {
            position: absolute;
            right: 20px;
            font-size: 20px;
            cursor: pointer;

            .dot {
                position: absolute;
                top: 0;
                right: 0;
                width: 8px;
                height: 8px;
                background-color: #ff3b30;
                border-radius: 50%;
                border: 1.5px solid $white;
            }
        }
    }

    .requests-content {
        flex: 1;
        @include flex-center;
        background-color: #f5f5f5;

        .no-requests-msg {
            color: #333;
            font-size: 16px;
            font-weight: 500;
        }
    }
}